
<div class="blog_post squeezed" id="{{page.header.custom.date}}">
	<h2 class="title">{{page.header.custom.title|raw}}</h2>
	<div class="date">
		{% set blogDate = page.header.custom.date %}
		{% set month = blogDate|date('F')|upper %}
		{% set month = 'JOBTECH.MONTH.'~month %}
		{{blogDate|date('d')}} {{month|t}} {{blogDate|date('Y')}}
	</div>
	<div class="text_normal">{{page.header.custom.content|markdown}}</div>
</div>