
<div class="row">
	<div class="name">{{name}}</div>
	<div class="tags">
		{% for v in tags %}
			<div class="filter_tag" id="tag_{{v}}" onclick="toggleFilter(this, '{{v}}')">
				{{v}}
			</div>
		{% endfor %}
	</div>
</div>