
<div class="blog_list_item">
	<a href="{{'JOBTECH.URL.FOOTER_NEWS'|t}}#{{page.header.custom.date}}">
		<h2 class="title">{{page.header.custom.title|raw}}</h2>
		<div class="text_content">{{page.header.custom.short|raw}}</div>
	</a>
</div>