
{% set color = black ? 'black' : 'white' %}
<div class="page_header_menu {{color}}">
	<div>		
		{% set menu_links = theme_var('menu_links') %}	
		<div class="page_header_menu_icon" id="main_menu_button" onclick="mobileMenuToggle(this)">
		</div>
		<div class="page_header_menu_container hidden_menu" id="main_menu">
		
			<div class="mobile_content">	
				<div class="frontpage_icon">
					{% include('/partials/page_header_logo.html.twig') with {'black': false} %}
				</div>
				<div class="menu_close_container">
					<div class="menu_close_button" id="main_menu_button" onclick="mobileMenuToggle(this)">
					</div>
				</div>
			</div>
		
			<div class="page_header_menu_center">
				<div class="page_header_menu_center_items">		
					<div class="main_menu_item {{color}}">
						<a href={{'JOBTECH.URL.MENU_ABOUT'|t}}>{{'JOBTECH.HEADER.ABOUT'|t}}</a>
					</div>	
					<div class="main_menu_item {{color}}">
						<a href={{'JOBTECH.URL.MENU_PRODUCTS'|t}}>{{'JOBTECH.HEADER.PRODUCTS'|t}}</a>
					</div>	
					<div class="main_menu_item {{color}}">
						<a href="https://forum.jobtechdev.se/" target="blank">{{'JOBTECH.HEADER.COMMUNITY'|t}}</a>
					</div>
					<div class="main_menu_item language mobile_content" onclick="setLanguage('{{'JOBTECH.HEADER.LANG_CODE'|t}}')">
						{{'JOBTECH.HEADER.LANG'|t}}
					</div>
					
					
					{% if aboutLinks %}
						<div class="mobile_content menu_sub_items">
						{% for link in aboutLinks %}
							{% set target = link.url starts with 'http' ? "blank" : "" %}
							<div class="main_menu_item {{color}}">
								<a href="{{link.url}}" target="{{target}}">
									{{link.title}}
								</a>
							</div>	
						{% endfor %}
						</div>
					{% endif %}
					{% if productLinks %}
						<div class="mobile_content menu_sub_items">
						{% for link in productLinks %}
							{% set target = link.url starts with 'http' ? "blank" : "" %}
							<div class="main_menu_item {{color}}">
								<a href="{{link.url}}" target="{{target}}">
									{{link.title}}
								</a>
							</div>	
						{% endfor %}
						</div>
					{% endif %}
					
				</div>
			</div>
			<div class="main_menu_item language non_mobile_content" onclick="setLanguage('{{'JOBTECH.HEADER.LANG_CODE'|t}}')">
				{{'JOBTECH.HEADER.LANG'|t}}
			</div>
		</div>
	</div>
</div>